.comment-card {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  line-height: 2rem;
  text-align: center;
  margin-right: 0.5rem;
}

.comment-name {
    font-weight: 400;
}
