.comment-card {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 100%;
  line-height: 2rem;
  text-align: center;
  margin-right: 0.5rem;
}

.comment-name {
  font-weight: 400;
}

.comment-card-user {
  display: flex;
  align-items: center;
}
.comment-rating {
  margin-left: 0.5rem;
  margin-top: 3px;
}

@media (max-width: 600px) {
  .comment-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
  }
  .comment-card-user {
    display: block;
  }

  .avatar {
    align-self: flex-start;
  }

  .comment-rating {
    margin-left: 0 !important;
  }
}
