footer {
  height: 4rem;
  background: #373f51;
  color: white;
  line-height: 4rem;
  font-weight: 400;

  position: absolute;
  bottom: 0;
  width: 100%;
}

footer > div {
  width: 1000px;
  margin: 0 auto;
}
